[Desktop Entry]
# The type as listed above
Type=Application
# The version of the desktop entry specification to which this file complies
Version=1.0
# The name of the application
Name=ffplay
# A comment which can/will be used as a tooltip
Comment=Open video files in ffmpeg's visualization tool
# The executable of the application, possibly with arguments.
Exec=st -e /usr/bin/ffplay -volume 0
# Describes whether this application needs to be run in a terminal or not
Terminal=true
# Describes the categories in which this entry should be shown
Categories=Video
