[Desktop Entry]
# The type as listed above
Type=Application
# The version of the desktop entry specification to which this file complies
Version=1.0
# The name of the application
Name=Aseprite
# Located in $HOME/.icons/hicolor/48x48/teams.{png,ico}
Icon=aseprite
# A comment which can/will be used as a tooltip
Comment=Pixel-art tool to create 2D animations, sprites and any kind of graphics for games.
# Manually created symlink (inside /usr/bin/aseprite that points to $HOME/.steam/steam/steamapps/common/Aseprite/aseprite
Exec=Aseprite.AppImage
# Describes the categories in which this entry should be shown
Categories=Communication
