[Desktop Entry]
# The type as listed above
Type=Application
# The version of the desktop entry specification to which this file complies
Version=1.0
# The name of the application
Name=Teams
# Located in $HOME/.icons/hicolor/48x48/teams.{png,ico}
Icon=teams
# A comment which can/will be used as a tooltip
Comment=Launch Chromium in app mode and go to Teams web app
# This points to $HOME/.local/bin/teams.sh
Exec=sh -c "\$HOME/.local/bin/teams"
# Describes the categories in which this entry should be shown
Categories=Office
